langchain 
openai 
tiktoken 
transformers 
accelerate 
cohere
langchain_community
huggingface_hub
text_generation
datasets 
python-dotenv
scikit-learn
langchain-google-genai
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
google 
gmail

